<div class="jumbotron text-center">
	<div class="row">

	Past hackathons
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/201"></a>Hack 1<br>Address<br>January</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/202"></a>Hack 2<br>Address<br>February</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/203"></a>Hack 3<br>Address<br>March</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/200"></a>Hack 4<br>Address<br>April</div>
	</div>

	Hackathons in this month
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/201"></a>Hack 1<br>Address<br></div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/202"></a>Hack 2<br>Address<br></div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/203"></a>Hack 3<br>Address<br></div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/200"></a>Hack 4<br>Address<br></div>
	</div>

	Upcoming hackathons
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/201"></a>Hack 1<br>Address<br>May</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/202"></a>Hack 2<br>Address<br>May</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/203"></a>Hack 3<br>Address<br>May</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/200"></a>Hack 4<br>Address<br>May</div>
	</div>

</div>
</div>