<div class="jumbotron text-center">
	<h1>HACKINGDOM</h1>
	<h3>The one stop shop for hackers and alike.</h3>
</div>

<div class="row">

	<h1>Current hacks</h1>

	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/201"></a>Hack 1<br>Address<br>2 hours left</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/202"></a>Hack 2<br>Address<br>20 hours left</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/203"></a>Hack 3<br>Address<br>24 hours left</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron text-center"><a href="#" class="thumbnail"><img src="http://placekitty.artisan.io/g/200/200"></a>Hack 4<br>Address<br>33 hours left</div>
	</div>

</div>
